$headerImage : url(../img/m-h-night.jpg);
$uColor : #ff4e33;
$buttonColor : #e3ac00;
$bodyBackgroundColor : #21232e;
$cardFooterBckgrndColor : #3b3f50;
$textFontFamily : 'Fresca', sans-serif;
$fontColor : ("h" : white, "text": #d1d1d1);
$grad : ("dir": to right, "col1" : #d99c0a, "col2" : #98344e);