$headerImage : url(../img/m-h-day.jpg);
$uColor : #14a0c7;
$buttonColor : #699900;
$bodyBackgroundColor : white;
$cardFooterBckgrndColor : #21232e;
$textFontFamily : 'Hind', sans-serif;
$fontColor : ("h" : #2c2f3c, "text": #c0c3c4);
$grad : ("dir": to right, "col1" : #639314, "col2" : #2d5bd8);
